.app {
  text-align: center;
  padding: 48px 48px;
  background-color: rgb(63, 62, 62);
  height: 100vh;

  &__download-file {
    border: 2px solid #fff;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #fff;
    transition: all 0.3s;

    &:hover {
      transform: (scale(105%));
      background-color: #6c5ce7;
      border: 2px solid #a29bfe;
    }
  }

  &__main-title {
    margin: 0 auto 24px;
    color: #fff;
    width: 500px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 11px 60px;
    line-height: 1
  }

  &__container {
    display: flex;
    gap: 36px;
    justify-content: center;
  }

  &__subtitle {
    color: #fff;
    width: 500px;
  }

  &__area {
    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 500px;
    min-height: 700px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
}